
<p class ="display02"><a href="/bright_ideas">Bright Ideas</a>  | | <a href="/users/clear">Logout</a></p>
<p>Name! <%=@user.name%> <%=@user.alias%></p>
<p>Alias! <%=@user.alias%></p>
<p>Email! <%=@user.email%></p>

<p>-----------------------------------------------------------</p>

<p>Total Number of Posts! <%=@user.posts.length%></p>
<p>Total Number of likes! <%=@user.likes.length%></p>
